:root {
	--green: #008e4e;
	--purple: #9400d3;
	--golden: #ffd700;
	--menugreen: #24bb77;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--menugreen);
	padding: 10px;
	font-size: 1.6em;
	border-bottom: solid 2px var(--menugreen);
}

nav a:visited,
nav a:link {
	color: #000;
	text-decoration: none;
}

nav ul {
	display: inline;
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 0 5px 0 5px;
}

main {
	padding-top: 2em;
	background-color: bisque;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: auto / 25% 1fr;
}

.sidebar {
	padding-top: 1em;
	padding-left: 0.3em;
	background-color: var(--purple);
	font-weight: 600;
	color: #000;
	border: solid 2px var(--menugreen);
}

form {
	max-width: 100%;
}

form div {
	margin: 5px 0;
}

.serve-select {
	margin: 0;
	font-weight: 500;
	display: grid;
	grid-template: auto / auto 1fr;
	align-items: center;
	column-gap: 4px;
}

input {
	max-width: 90%;
	margin: 3px 0;
	padding: 4px;
	border: 2px solid var(--menugreen);
}

label {
	margin: 2px 0;
}

span {
	display: none;
	color: #ff0000;
	font-size: 15%;
}

.new-game-button {
	max-width: 100%;
	margin-top: 7px;
	padding: 0.5em;
	font-size: 0.9em;
	font-weight: 600;
	background-color: var(--golden);
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scoreboard {
	width: 60vw;
	height: 15vw;
	min-width: 320px;
	min-height: 80px;
	background-color: var(--green);
	padding-left: 1.6%;
	display: grid;
	grid-template-columns: 10.8fr 1fr 1fr 1.1fr;
	grid-template-rows: 1fr 1fr;
	font-size: 3vw;
	font-weight: 600;
	margin: 50px 10px 25px;
	border: 1px solid var(--green);
	box-shadow: 8px 5px 5px #0f390f;
}

.player-details {
	display: flex;
	background-color: #fff;
	align-items: center;
}

.name {
	flex: 13;
	color: var(--purple);
	padding-left: 3px;
}

.serve {
	color: var(--golden);
	flex: 1;
	display: flex;
	justify-content: center;
}

#p2-serve {
	display: none;
}

.sets {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.games {
	background-color: var(--purple);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.points {
	background-color: #fff;
	color: var(--purple);
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons button {
	margin: 5em;
	margin-top: 1em;
	padding: 1em;
	color: var(--purple);
	font-size: 2vw;
	font-weight: 600;
	background-color: #fff;
	border: 2px solid var(--green);
	border-radius: 0.7em;
	cursor: pointer;
	box-shadow: 0 3px #999;
}

.buttons button:active {
	background-color: var(--golden);
	box-shadow: 0 2px #666;
	transform: translateY(1px);
}

@media only screen and (max-width: 475px) {
	main {
		grid-template: auto 1fr / auto;
	}

	.sidebar {
		padding-bottom: 3px;
	}
}
